@font-face {
  font-family: "Poppins";
  src: url(Portifolio/Assets/Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "audioWide";
  src: url(portifolio/Assets/Fonts/Audiowide-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

header {
  background-image: url(portifolio/Assets/Images/HeaderBackground.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  background-image: url(portifolio/Assets/Images/HeaderBackground.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  background-image: url(portifolio/Assets/Images/HeaderBackground.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ========================================================= */
/* ===================== NAVBAR ============================ */
/* ========================================================= */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.nav-menu {
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  display: flex;
  font-size: clamp(20px, 1.5vw, 2vw);
  gap: clamp(1vw, 4vw, 4vw);
  list-style: none;
  padding: 1rem 4rem 0rem 0rem;
  transition: color 0.3s;
  z-index: 1000;
}

#name {
  font-family: "audioWide", sans-serif;
  font-size: clamp(35px, 2.5vw, 4vw);
}
.nav-menu a {
  font-family: "audioWide", sans-serif;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #007bff;
}

#nav-toggle {
  display: none;
}

.nav-button {
  display: none;
}
/* ========================================================= */
/* ===================== HEADLINE ========================== */
/* ========================================================= */
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(5vw, 7vw, 12vw);
  height: clamp(80vh, 90vh, 90vh);
  text-align: center;
}
.headline h2 {
  padding-right: clamp(330px, 15%, 20%);
  font-size: clamp(35px, 3vw, 4vw);
}
.headline h3 {
  font-size: clamp(30px, 1.8vw, 2vw);
  color: #2997ca;
}
.headline p {
  font-size: clamp(20px, 1.6vw, 2vw);
  margin: auto;
  width: 85%;
}
.knowledge {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding-top: 4vh;
}
.knowledge h3 {
  font-family: "audioWide", sans-serif;
  font-size: clamp(34px, 2.5vw, 2.5vw);
  color: #00b7ff;
}
.knowledge img {
  max-width: 100%;
  width: clamp(45px, 4vw, 4vw);
}

.skills {
  display: flex;
  gap: 1rem;
  list-style: none;
}
/* ========================================================= */
/* ===================== PROJECTS ========================== */
/* ========================================================= */
.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projects h2 {
  font-family: "audioWide", sans-serif;
  font-size: clamp(40px, 3.5vw, 4vw);
  color: #00b7ff;
  padding: 2rem 0rem 3rem 0rem;
}
.project1 {
  border: #454545 4px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 15vh;
}
.project1-figures {
  border-right: #454545 4px solid;
  height: 100%;
  width: clamp(400px, 60%, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.project1-image {
  border-radius: 10px;
  width: clamp(200px, 60%, 70%);
  margin: 1rem;
}
.project1-figures p {
  font-family: "audioWide", sans-serif;
  font-size: clamp(20px, 3rem, 2vw);
  height: auto;
  color: #41acc7;
}
.project1-tecs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.project1-tecs2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.project1-tecs img {
  width: clamp(30px, 7%, 7%);
}
.project1-description {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 2%;
  width: 80%;
}
.project1-description h3 {
  font-family: "audioWide", sans-serif;
  color: #00b7ff;
  font-size: clamp(14px, 2vw, 2vw);
  padding-bottom: 3%;
}
.project1-description p {
  font-size: clamp(11px, 1.5vw, 2vw);
}
.project1-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  list-style: none;
}
.project1-links a {
  border: #00c3ff 1px solid;
  border-radius: 10px;
  text-decoration: none;
  font-family: "audioWide", sans-serif;
  font-size: clamp(10px, 1.5vw, 2vw);
  padding: 1rem 1.5rem;
  transition: 0.3s;
}
.project1-links a:hover {
  background-color: #007bff;
}
/* ========================================================= */
/* ===================== FOOTER ============================ */
/* ========================================================= */
.footer-container {
  width: 100%;
  color: #ffffff;
  padding: 2rem 1rem;
  text-align: center;
}

.footer-container p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #cccccc;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.footer-nav li a {
  text-decoration: none;
  color: #00b7ff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.footer-nav li a:hover {
  color: #ffffff;
}

.footer-container a {
  color: #00b7ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-container a:hover {
  color: #ffffff;
}
.used-tecs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}
.used-tecs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.used-tecs h3 {
  font-family: "audioWide", sans-serif;
  font-size: 1.5rem;
  color: #00b7ff;
}
.used-tecs img {
  width: 50px;
}

/* ========================================================= */
/* ===================== MEDIA QUERY ==================== */
/* ========================================================= */
@media (max-width: 700px) {
  .nav-button {
    display: block;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    margin: 1rem 2rem 0rem 0rem;
  }

  .nav-button span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background: rgb(255, 255, 255);
    transition: 0.3s;
    z-index: 1000;
  }

  .nav-menu {
    position: fixed;
    top: 10px;
    right: -100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    font-size: 1.3rem;
    z-index: 999;
    gap: 2.3rem;
    padding-right: 1rem;
  }
  #name {
    font-size: clamp(22px, 5vw, 5vw);
  }

  #nav-toggle:checked ~ .nav-menu {
    right: -42%;
    padding-top: 8%;
  }

  #nav-toggle:checked ~ .nav-button span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #nav-toggle:checked ~ .nav-button span:nth-child(2) {
    opacity: 0;
  }

  #nav-toggle:checked ~ .nav-button span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .headline h2 {
    font-size: clamp(25px, 4vw, 5vw);
    padding-right: clamp(100px, 30%, 30%);
  }
  .headline h3 {
    font-size: clamp(20px, 4vw, 4vw);
    padding-left: clamp(80px, 15%, 15%);
  }
  .headline p {
    font-size: clamp(15px, 3vw, 5vw);
  }
  .knowledge {
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .knowledge h3 {
    font-size: clamp(22px, 4.7vw, 5vw);
    padding-right: 15vw;
  }
  .knowledge img {
    width: clamp(30px, 6vw, 6vw);
  }
  .projects h2 {
    font-size: clamp(30px, 5vw, 5vw);
  }
  .project1 {
    flex-direction: column;
    height: auto;
    width: 90%;
    margin-bottom: 10vh;
  }
  .project1-figures img {
    width: clamp(250px, 60%, 60%);
  }
  .project1-figures {
    border-right: none;
    border-bottom: #454545 4px solid;
    width: 100%;
    padding: 1rem 0rem;
  }
  .project1-figures p {
    font-size: clamp(25px, 4vw, 4vw);
  }
  .project1-tecs img {
    width: clamp(40px, 7vw, 7vw);
  }
  .project1-description h3 {
    font-size: clamp(20px, 4vw, 4vw);
  }
  .project1-description p {
    font-size: clamp(15px, 3vw, 4vw);
  }
  .project1-links {
    gap: 3rem;
    padding-bottom: 1rem;
  }
  .project1-links a {
    font-size: clamp(10px, 3vw, 4vw);
    padding: 1rem 2rem;
  }
  .footer-container p {
    font-size: clamp(15px, 2.5vw, 4vw);
  }
  .footer-nav li a {
    font-size: clamp(16px, 3vw, 4vw);
  }
  .used-tecs h3 {
    font-size: clamp(20px, 4vw, 4vw);
  }
  .used-tecs img {
    width: clamp(30px, 7vw, 7vw);
  }
}
